@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

#nprogress .bar {
  background: #e019ff !important;
}

#nprogress .peg {
  display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-main-header {
    @apply text-2xl font-roboto font-black text-gray-900;
  }

  .spinner {
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    @apply animate-spin;
  }

  .watchLineup-icon {
    @apply w-8 h-8 text-current;
  }

  .bottom-filter-btn {
    @apply flex-grow text-lg font-semibold rounded-md px-2 py-3;
  }

  .filter-btn {
    @apply flex-grow bg-gray-700 text-white flex flex-col items-center py-5 space-y-2 rounded-md;
  }

  .filter-icon {
    @apply w-8 h-8;
  }

  .filter-label {
    @apply uppercase font-semibold text-sm;
  }

  .alert-main-button {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-fuchsia-900 bg-fuchsia-100 border border-transparent rounded-md hover:bg-fuchsia-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-fuchsia-500;
  }

  .text-input {
    @apply rounded-md border-gray-300 focus:border-fuchsia-400 focus:ring-0;
  }
}
