@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-main-header {
    @apply text-2xl font-roboto font-black text-gray-900;
  }

  .spinner {
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    @apply animate-spin;
  }

  .watchLineup-icon {
    @apply w-8 h-8 text-current;
  }
}
